<style>
    .form{
        margin-left: 20px;
       width: 80%;
    }
    .mb-3{
        width: 80%;
    }
    .formtext{
        display: flex;
        flex-direction: column;
        
        align-items: center;
        justify-items: center;
    }
    .result{
        width: 80%;
        margin: 30px;
        margin-left: 210px;
        display: flex;
        flex-direction: column;
        
    }
    .infor{
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
</style>
<div class="formtext">
<h1>DETERMINE THE PROBABILITY OF GETTING DIABETES</h1>
<form class="form" method="post" name="formforsub" >
    <div class="mb-3">
        <label for="pregnancy" class="form-label">Pregnancies</label>
        <input value="{{pregnancy}}" type="text" class="form-control" id="pregnancy" aria-describedby="emailHelp" name="pregnancy">
    </div>
    <div class="mb-3">
        <label for="Glucozo" class="form-label">Glucozo</label>
        <input value="{{glucozo}}" type="text" class="form-control" id="Glucozo" name="glucozo">
    </div>
    <div class="mb-3">
        <label for="insulin" class="form-label">insulin</label>
        <input value="{{insulin}}" type="text" class="form-control" id="insulin" name="insulin" placeholder="0.6 or 0.7 for normal">
    </div>
    <div class="mb-3">
        <label for="bloodPressure" class="form-label">bloodPressure</label>
        <input value="{{blood}}" type="text" class="form-control" id="bloodPressure" name="bloodPressure" placeholder="0.6 or 0.7 for normal">
    </div>
    <div class="mb-3">
        <label for="age" class="form-label">Age</label>
        <input value="{{age}}" type="text" class="form-control" id="age" name="age">
    </div>
    <div class="mb-3">
        <label for="height" class="form-label">Height</label>
        <input value="{{height}}"type="text" class="form-control" id="height" name="height" >
    </div>
     <div class="mb-3">
        <label for="weight" class="form-label">Weight</label>
        <input value="{{weight}}" type="text" class="form-control" id="weight" name="weight">
    </div>
    <button type="submit" class="btn btn-primary ">Submit</button>
</form>
{{!-- <form action="" name=" result" class="result" >
   <div class="mb-3">
        <label for="result" class="form-label">Result</label>
        <input value="{{result}}" type="text" class="form-control" id="result" aria-describedby="emailHelp" name="result">
    </div>
</form> --}}

 <div class="infor" style="background-color: rgb(180, 184, 180); height:200px;width:80%;">
    {{#if Rresult}}
    <h3>You are not getting diabetes  </h3>
    <h3>It is about {{subtr 100 result2}}%</h3>
    {{else }}
    <h3>You are not getting diabetes  </h3>
    <h3>It is about {{result2}}%</h3>
    {{/if}}
</div>
</div>
